<div>
    <p>
        <input type="text" placeholder="Brand" id="brand" />
    </p>
    <p>
        <input type="text" placeholder="Model" id="model" />
    </p>
    <p>
        <input type="text" placeholder="Price" id="price" />
    </p>
    <p>
        <input type="text" placeholder="Spec" id="spec" />
    </p>
    <p>
        <button id="addBtn">新增</button>
    </p>
</div>